### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignoră folderul uriaș cu teste
checker/

# Ignoră absolut toate arhivele zip (rezolvă ambele fișiere zip vizibile din stânga)
*.zip

# Opțional, dar foarte recomandat: ignoră setările locale IntelliJ și folderul arhiva
.idea/
arhiva/